.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.AddTask, .AdmitTask {
  margin: 10px;
  background-color: #55f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
}

.AddTask:hover {
  background-color: #66f;
  cursor: pointer;
}

.TaskQueue, .RandomTask {
  margin: 10px;
}

.RandomTask {
  border: 1px solid black;
  height: 50px;
}

.QueueList, .Duration {
  height: 40px;
  border: 1px solid whitesmoke;
}

p {
  margin: 0;
  font-size: small;
}